.dashboard-wrapper {
  @include inset-shadow();
  background-color: $offwhite;

  .empty-dashboard-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;

    .content {
      display: grid;
      grid-template-columns: 1fr 1fr;

      #homepage-svg {
        path {
          fill: transparent;
          stroke: $dark-primary;
          stroke-width: 3px;
        }
      }

      .text {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        color: $dark-primary;
        font-size: 4em;
        font-weight: 900;
        padding: 200px;
      }
    }
  }
}
