.corporate-layout-wrapper {
  background-color: $dark-theme;

  .corporate-navigation-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 120px;

    .right-column {
      padding-right: 21px;
      a {
        font-size: 3em;
        color: white;
        transition: 0.5s ease-in-out;

        &:hover {
          color: $primary;
        }
      }
    }

    .left-column {
      display: flex;
      align-items: center;

      .nav-link-wrapper {
        margin-left: 5px;
        margin-right: 42px;
        font-size: 1.5em;

        a {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;

          svg {
            font-size: 2em;
          }

          .text {
            margin-top: 15px;
          }

          color: $primary;
          transition: 0.5s ease-in-out;

          &:hover {
            color: $offwhite;
          }
        }
      }

      .brand svg {
        padding-top: 50px;
        width: 150px;
      }
    }
  }
}
