.white {
  color: white;
}

.primary {
  color: $primary;
}

.yellow {
  color: #f0db4f;
}

.google-yellow {
  color: #f8b00c;
}

.linux-yellow {
  color: #f2b30b;
}

.python-yellow {
  color: #fdd243;
}

.orange {
  color: #f0652a;
}

.ubuntu-orange {
  color: #c22c15;
}

.green {
  color: #40b883;
}

.go-green {
  color: #64c4d5;
}

.django-green {
  color: #3aab78;
}

.nginx-green {
  color: #139f3e;
}

.vim-green {
  color: #42ff0a;
}

.blue {
  color: #1da7e2;
}

.docker-blue {
  color: #378eee;
}

.express-blue {
  color: #2389ff;
}

.typescript-blue {
  color: #0c63c1;
}

.github-blue {
  color: #8cd2ed;
}

.postgresql-blue {
  color: #28537e;
}

.webpack-blue {
  color: #7ecdf9;
}

.wordpress-blue {
  color: #118ec7;
}

.pink {
  color: #cd659a;
}

.slack-pink {
  color: #d50048;
}

.php-purple {
  color: #757eb2;
}

.vs-code-purple {
  color: #7a009b;
}

.red {
  color: #d3101c;
}
