.container {
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
  justify-content: center;
}

.homepage-container {
  @include inset-shadow();
  background-color: $offwhite;

  display: flex;
  justify-content: center;

  .content {
    padding-top: 60px;
    padding-bottom: 60px;
    width: 1200px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 100px;

    .right-column {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      .title {
        font-size: 4em;
        margin-bottom: 21px;
        color: $dark-theme;
        font-weight: 900;
        font-family: "Overpass Mono", monospace;
        text-align: center;
      }

      .form-wrapper {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        .form-group {
          width: 100%;
          margin: 12px 0px;
        }

        .button-small {
          padding: 15px;
          font-size: 1.5em;
          width: unset;
        }
      }
    }
  }
}

.error-page-container {
  display: flex;
  justify-content: center;
  align-items: center;
  color: $offwhite;
  font-size: 1.5em;
  height: calc(100vh - 100px);

  .content {
    width: 1200px;

    a {
      color: $primary;
      transition: 0.5s ease-in-out;

      &:hover {
        color: $dark-primary;
      }
    }
  }
}
