@import "./helpers/variables.scss";
@import "./mixins/buttons.scss";
@import "./mixins/shadows.scss";
@import "./base.scss";
@import "./helpers/colors.scss";
@import "./helpers/hover-effects.scss";
@import "./helpers/validations.scss";
@import "./helpers/loaders.scss";
@import "./containers.scss";
@import "./forms.scss";
@import "./buttons/rounded-button.scss";
@import "./corporate/layout.scss";
@import "./corporate/language-logos.scss";
@import "./corporate/faqs.scss";
@import "./corporate/boxes.scss";
@import "./courses/course-list.scss";
@import "./dashboard/layout.scss";
@import "./cards/user-data-card.scss";

@import "./media-queries/homepage.scss";
@import "./media-queries/course-list.scss";
@import "./media-queries/boxes.scss";
@import "./media-queries/corporate-navigation.scss";
